<div class="col s12 m12 l12">
    <div class="col s9 m9 l9 clear-float responsive-width">
        <div class="profile-content valign-wrapper">
            <img class="profile" ng-src="{{userData.avatar}}" alt="" ng-if="!userData.social_auth">
            <img class="profile" ng-src="{{userData.facebook.profile}}" alt="" ng-if="userData.social_auth && userData.facebook.facebook_id !=''">
            <img class="profile" ng-src="{{userData.google.imgUrl}}" alt="" ng-if="userData.social_auth && userData.google.id_token !=''">
            <div class="col s9 m8 l8 profile-info">
                <h4 ng-if="userData.name != null">{{userData.name}}</h4>
                <h4 ng-if="userData.name == null">{{userData.username}}</h4>
                <p><img src="assets/images/map.svg" alt="">India</p>
                <a href="javascript:void(0);" ng-click="redirectSetting()" class="setting-editBtn">Edit</a>
            </div>
        </div>
        <div class="profile-play">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="col s4 m4 l4 profile-slide">
                        <h5>Matches Played</h5>
                        <p>{{profile.performance.matchesPlayed}}</p>
                    </div>
                    <div class="col s4 m4 l4 profile-slide">
                        <h5>Points Scored</h5>
                        <p>{{profile.performance.points.topPoints}}</p>
                    </div>
                    <div class="col s4 m4 l4 profile-slide">
                        <h5>Global Rank </h5>
                        <p>{{profile.performance.globalRank}}</p>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col s12 m12 l12">
                    <div class="col s6 m6 l6 profile-rank">
                        <h5>Global Rank :
                            <span>{{profile.performance.globalRank}}</span>
                        </h5>
                    </div>
                    <div class="col s6 m6 l6 profile-rank">
                        <h5>State Rank :
                            <span>147</span>
                        </h5>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>