<div class="col s12 m12 l12">
    <div class="col s9 m9 l9 clear-float responsive-width">
        <div class="point-section">
            <div class="scroll cus-scroll">
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th>Events</th>
                            <th>Goal Keeper</th>
                            <th>Defender</th>
                            <th>Midfielder</th>
                            <th>Forward</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Goal Scored</td>
                            <td>6</td>
                            <td>6</td>
                            <td>5</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Assist</td>
                            <td>3</td>
                            <td>3</td>
                            <td>4</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Yellow Card </td>
                            <td class="error" colspan="4">-1</td>
                        </tr>
                        <tr>
                            <td>Red Card </td>
                            <td class="error" colspan="4">-3</td>
                        </tr>
                        <tr>
                            <td>CleanSheet </td>
                            <td>4</td>
                            <td>3</td>
                            <td>1</td>
                            <td class="nill">N/A</td>
                        </tr>
                        <tr>
                            <td>Saves </td>
                            <td>1 per 3 saves</td>
                            <td class="nill">N/A</td>
                            <td class="nill">N/A</td>
                            <td class="nill">N/A</td>
                        </tr>
                        <tr>
                            <td>Penalty Saves </td>
                            <td>4</td>
                            <td class="nill">N/A</td>
                            <td class="nill">N/A</td>
                            <td class="nill">N/A</td>
                        </tr>
                        <tr>
                            <td>Penalty Goal</td>
                            <td colspan="4">2</td>
                        </tr>
                        <tr>
                            <td>Penalty miss</td>
                            <td class="error" colspan="4" rowspan="1">-2</td>
                        </tr>
                        <tr>
                            <td>Own Goal</td>
                            <td class="error" colspan="4" rowspan="1">-2</td>
                        </tr>
                        <tr>
                    
                            <td colspan="5">
                                <hr>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Bonus points</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Playing upto 60mins</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>Playing more than 60mins</td>
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <td>For MOM/highest goalscorer of match (only for 1player allowed in a team)</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <td>For Every 3 goals conceded by Goalie and Defender</td>
                                            <td class="error">-1</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>