<div class="float-auth" ng-hide="loginStatus"><a href="javascript:void(0);" ng-click="authEnable('login')">Login</a>/<a href="javascript:void(0);" ng-click="authEnable('register')">Register</a></div>
<div class="home-container center-align">
    <h4>Welcome to Fantumn </h4>
    <div class="logo z-depth-3">
        <img src="assets/images/logo.svg" alt="">
    </div>
    <div class="logo-section">
        <p>Come play our fantasy football and win amazing gifts. Simple and Easy. <br>Follow these steps. It's not guess work. It's skill work.</p>
    </div>
    <ul>
        <li>
            <img src="assets/images/football-field.svg" alt=""> Pick a match
        </li>
        <li>
            <img src="assets/images/football-player.svg" alt=""> Build your team
        </li>
        <li>
            <img src="assets/images/present.svg" alt=""> Win Prizes
        </li>
    </ul>
</div>