<div class="float-auth" ng-hide="loginStatus"><a href="javascript:void(0);" ng-click="authEnable('login')">Login</a>/<a href="javascript:void(0);" ng-click="authEnable('register')">Register</a></div>
<div class="home-container center-align">
    <h4>Welcome to Fantumn </h4>
    <div class="logo z-depth-3">
        <img src="assets/images/logo.svg" alt="">
    </div>
    <div class="logo-section">
        <p> Join the best community of Fans. Come play our Fantasy Football.</p>
    </div>
    <p class="home-steps">Three simple steps</p>
    <ul>
        <li>
            <img src="assets/images/football-field.svg" alt=""> Pick a match
        </li>
        <li>
            <img src="assets/images/football-player.svg" alt=""> Build your team
        </li>
        <li>
            <img src="assets/images/present.svg" alt=""> Win Prizes
        </li>
    </ul>
    <p class="disclaimer"><b>Disclaimer:</b> Fantumn is not affiliated in any way to and claims no association, in any capacity whatsoever, with the (I) FIFA, (ii) fa, (iii) EPL or any domestic clubs in the Europe, (iv) ISL, or (v) any other domestic football/league/competition,
        or tournament franchise/team/club (other than where specifically stated). Fantumn acknowledges that the FIFA, FA, EPL, ISL, and its franchises/teams/clubs, respective national football associations/federations, domestic tournament/competition
        organizers and franchises/teams/clubs, respectively, own all proprietary names and marks relating to the relevant tournament or competition.</p>
</div>