<div class="col s12 m12 l12">
    <div class="col s9 m9 l9 clear-float responsive-width" >
        <div class="live-matchSchedule">
            <div class="leaderboard">leaderboard</div>
            <br>
            <div class="live-leftSection history-event">
                <img ng-src="{{matchDetails.homeLogo}}" alt="">
                <p>{{matchDetails.home}}</p>
                <span class="match-result">{{matchDetails.homeScore}}</span>
            </div>
            <span class="hi-match">VS</span>
            <div class="live-rightSection right-align history-event">
                <span class="match-result">{{matchDetails.awayScore}}</span>
                <p> {{matchDetails.away}}</p>
                <img ng-src="{{matchDetails.awayLogo}}" alt="">
            </div>
            <span class="history-time">&nbsp;Full Time</span>
        </div>
        <div class="live-play">
            <ul ng-repeat="play in historyScore" ng-show="userData.username == play.user.username"  ng-click="Viewuser(play)">
                <li>
                    <p>{{play.rank}}</p>
                </li>
                <li>
                    <p>{{play.user.username}}</p>
                </li>
                <li>
                    <p>{{play.matchPoints}}</p>
                </li>
            </ul>
            <p ng-if="noUserScore" class="nodata">Sorry, you did not play this match</p>
            <p ng-if="noScore" class="nodata">Sorry, you did not play this match</p>
        </div>
        <div class="live-result">
            <div class="live-header">
                <ul>
                    <li>Rank</li>
                    <li>Player Name</li>
                    <li>Points Scored</li>
                    <li>Details</li>
                </ul>
            </div>
            <div class="liveMatch-section" ng-class="{cusscroll: historyScore.length>8}">
                <ul ng-if="historyScore.length>0">
                    <li ng-repeat="play in historyScore " ng-click="Viewuser(play)">
                        <div>{{play.rank}}</div>
                        <div>{{play.user.username}}</div>
                        <div>{{play.matchPoints}}</div>
                        <div><img style="width: 14%" src="assets/images/view.png" alt=""></div>
                    </li>
                </ul>
                <div ng-if="historyScore.length==0" class="no-record" >
                    <img src="assets/images/noPlayer.svg" alt="">
                    <p>No users had played this match</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="auth-padrop" ng-show="backdrop" ng-click="disable()"></div>
<div class="momo" >
    <div class="head">
        
        <b> {{otheruser.user.username}}</b>
        <b style="float: right;margin-right: 5%;font-size: 20px;cursor: pointer;color: red" ng-click="disable()">&times;</b>
        <span><b>Total Point:&nbsp;{{otheruser.matchPoints}}</b></span>
        
    </div><div class="cus-scroll" style="height: 80%;">
    <div class="suma">Player Name</div>
    <div class="suma">Position</div>
    <div class="suma">Point</div>
    
         <ul ng-if="otheruserdata.length>0">
             <li ng-repeat="play in otheruserdata" >
                 <div class="suma1">{{play.name}}</div>
                        <div class="suma1">{{play.positionPlay}}</div>
                        <div class="suma1">{{play.points}}</div>
                    </li>
                </ul>
            </div>
        </div>